$primary-color:#ff9800;
$primary-light:#ffc947;
$primary-dark:#c66900;

$secondary-color:#42a5f5;
$secondary-light:#80d6ff;
$secondary-dark:#0077c2;

$svg-outline-color:#000;
$svg-initial-fill-color:#FFF;

$danger-color: #FF0000;
$safe-color: #00ff00;
$caution-color: #ffff00;

.navbar.navbar-light {
  background-color: $primary-color;
}

.svg-container {
  width: 40%;
  margin: auto;
}

.land {
  fill: $svg-initial-fill-color;
  stroke: $svg-outline-color;
  stroke-width: 1px;
  stroke-opacity: 1;
  transition: 3s ease;
}

.time-btn {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  z-index: 2;
}

.login-card {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}