<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>fx-panel</title>
    <link href = "{{ url_for('static',filename='vendor/twitter/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href = "{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">

    <script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/hubspot/tether.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/twitter/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/find-arm.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">fx-panel</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item active active">
                <a class="nav-link" href="#">Find <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container col-md-8">
    <div class="card find-card">
        <div class="card-block">
            <h3 class="card-title">
               Search Arms and Ammunation
            </h3>
            <form>
                <div class="form-group">
                    <label>Serial Number</label>
                    <input class="form-control" id="serialNo" placeholder="Serial Number">
                    <small id="serialNoErr" class="form-text text-sm-center text-hide text-danger">
                    </small>
                </div>
                <div class="form-group">
                    <label>Owner(ID)</label>
                    <input class="form-control" id="ownerAdhaar" placeholder="Adhaar No">
                    <small id="adhaarErr" class="form-text text-sm-center text-hide text-danger">
                    </small>
                </div>
                <div class="form-group new-user">
                    <label>Name</label>
                    <input class="form-control" id="name" placeholder="Name">
                    <small id="nameErr" class="form-text text-sm-center text-hide text-danger">
                    </small>
                </div>
                <div class="form-group">
                    <label>Date of Transaction</label>
                    <input type="date" class="form-control" id="date" placeholder="">
                    <small id="dateErr" class="form-text text-sm-center text-hide text-danger">
                    </small>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" id="inputType">
                        <option selected>Import</option>
                        <option>Sell</option>
                        <option>Transfer</option>
                    </select>
                    <small id="serialNoErr" class="form-text text-sm-center text-hide text-danger">
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
